
.card {
    min-height: 361px;
    padding: 0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    list-style: none;
    border-radius: 10px;
    overflow: hidden;
    background-color: #FFF;
}

.card:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 700px) {

    .card {
        margin: 0;
    }
}


